@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise&display=swap');

#root {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 127%;
}

.title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;
  /* or 28px */

  text-align: center;
}

.header {
  font-family: 'Monsieur La Doulaise', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 127%;
  /* identical to box height, or 36px */
  color: #1F1F1F;
}


.nav{
  position: fixed;
  bottom: 5%;
}

.project {
  margin: 300px auto 0 auto;
}

.first {
  margin-top: 200px;
}


.project-title {
  font-size: 24px;
}

.project-text {
  font-size: 16px;
}

.info {
  background: #EFE6FD;
}